html,body{
    max-width: 1440px;
    margin: 0 auto;        
    font-family: "Sen";
    color: #232536;     
}

button{
    background-color: #FFD050;
    height: 56px;
    width: 204px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;    
    border: none;    
    cursor: pointer;    
}

.header__contaner{       
    display: flex;    
    align-items: center;    
    height: 80px;
    padding: 12px 80px 12px 83px;
    color: #ffff;
    background-color: #232536;     
}

.header__menu{
    display: flex; 
    align-items: center;
    margin-left: 621px;
    margin-right: 11px;
}

.header__menu-list{
    display: contents;       
}

.menu__link{        
    transition: color 0.3s ease 0s;
    margin-right: 24px;       
}

.header__menu-li{
    list-style-type: none;        
}

.header a{
    font-size: 16px;
    text-decoration: none;
    color: #ffff;
    font-weight: 400;
    white-space: nowrap;
}

.header__btn{
    background-color: #ffff;
    height: 56px;
    width: 179px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 48px;
    border: none;    
    cursor: pointer; 
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 720px;
    background-image: url("images/overlay.svg"),
                      url("images/man.svg");
    padding: 128px 556px 192px 80px;
    color: #FFFFFF;    
}

h6{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
}

.hero-info h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 7px;
    margin-bottom: 7px;
}

p{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;    
}

.hero-info__btn{
    background-color: #FFD050;
    height: 56px;
    width: 204px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;    
    border: none;    
    cursor: pointer;
    margin-top: 30px;
}

.posts{
    padding: 128px 78px 128px 80px;
}

.posts__conrainer{
    display: flex;
    height: 804px;    
}

.posts__conrainer span{
    color: #592EA9;
}

.posts__conrainer label{
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;    
}

.posts__wrapper{
    padding: 32px;
    margin: 32px 32px 0 0;
    border: 1px solid #6d6e761a;    
}

.posts__image{
    margin-bottom: 32px;
}

.posts__name-date{
    margin-bottom: 16px;
}

h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;    
}


h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;  
}

.posts__info h3{
    margin-bottom: 16px;
}

.posts__info p{
    color: #6D6E76;
    margin-bottom: 32px; 
}

.posts__btn{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;    
}

.posts__all-posts{
    width: 517px;
}

.posts__all-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.posts__post-card{
    padding: 32px 116px 25px 32px;
}

.posts__post-card_selected{
    background-color: #FBF6EA;
}

.posts__card-name-date{
    padding-bottom: 8px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;      
}

.about-mision{
    padding: 0 80px 128px 80px;
}

.about-mision__conrainer{
    height: 523px;
}

.about-mision__pattern{
    display: flex;
    justify-content: end;
}

.about-mision__wrapper{
    display: flex;
    background-color: #F4F0F8;
    padding: 96px 108px 96px 80px;
}

.about-mision__about-us{
    width: 515px;
    margin-right: 61px;
}

.about-mision__our-mision{
    margin-top: 2px;
    width: 516px;
}

.about-mision__conrainer h6{
    margin-bottom: 24px;
    font-weight: 600;
}

.about-mision__conrainer h3{
    margin-bottom: 16px;
}

.about-mision__conrainer h2{
    margin-bottom: 16px;
}

.about-mision__conrainer p{
    margin-bottom: 16px;
    color: #6D6E76;
}

.about-mision__conrainer span{
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #592EA9;  
}

.choose{
    padding: 0 80px 128px 80px;
}

.choose__title{
    display: flex;
    justify-content: center;
    margin-bottom: 48px; 
}

.choose__catagories{
    display: flex;
    justify-content: space-between
}

.choose__item{
    padding: 32px;
    width: 296px;
    height: 228px;
    border: 1px solid #6d6e764d;  
}

.choose__item_hover{
    background-color: #FFD050;
    border: 1px solid #FFD050;  
}

.choose__icon{       
    background-image: url("icons/icon_background.svg");
    margin-bottom: 16px;   
}

.choose__icon_2{
    padding: 12px; 
}

.choose__item h3{
    margin-bottom: 4px; 
}

.choose__item p{
    color: #6D6E76;
}

.special-post{
    padding: 0 80px 128px 80px;
}

.special-post__conrainer{
    position: relative;
    height: 705px;
    background-image: url("images/special-post.svg");
    background-repeat: no-repeat;
}

.special-post__content{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 706px;
    height: 584px;
    background-color: #FFFFFF;
    padding: 80px;
}

.special-post__content h6{
    font-weight: 600;
    margin-bottom: 24px;
}

.special-post__content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 16px;
}

.special-post__content p{
    color: #6D6E76;
}

.special-post__btn{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    height: 56px;
    width: 270px;
    padding: 16px 48px 16px 48px;
    margin-top: 32px;
}