html,body{
    max-width: 1440px;
    margin: 0 auto;        
    font-family: "Sen";
    color: #232536;     
}

.btn{
    background-color: #FFD050;
    height: 56px;
    width: 204px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;    
    border: none;    
    cursor: pointer;    
}

button:hover {
    background-color: #EDC14A;    
    transition: background-color 0.3s ease-in;
  }

.header__contaner{       
    display: flex;    
    align-items: center;    
    height: 80px;
    padding: 12px 80px 12px 83px;
    color: #ffff;
    background-color: #232536;     
}

.header__menu{
    display: flex; 
    align-items: center;
    margin-left: 621px;
    margin-right: 11px;
}

.header__menu-list{
    display: contents;       
}

.header__link{        
    transition: color 0.3s ease 0s;
    margin-right: 24px;       
}

.header__link:hover{        
    color: #f4f0f8aa;    
}

.header__menu-li{
    list-style-type: none;        
}

a{
    text-decoration: none;
}

.header a{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;    
    color: #ffff;    
    white-space: nowrap;
}

.header__btn{
    background-color: #ffff;
    height: 56px;
    width: 179px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 48px;
    border: none;    
    cursor: pointer; 
}

.header__btn:hover {
    background-color: #F4F4F4;    
    transition: background-color 0.3s ease-in;
  }

.hero-info{    
    height: 720px;
    background-image: url("images/overlay.svg"),
                      url("images/man.svg");
    padding: 128px 556px 192px 80px;
    
}

.hero-info__conrainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

h6{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 3px;
}

.hero-info h6{   
    color: #FFFFFF;
    margin-bottom: 24px; 
}

.hero-info h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;    
    color: #FFFFFF;
    margin-bottom: 24px; 
}

p{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6E76;       
}

.hero-info p{    
    color: #FFFFFF;
    margin-bottom: 16px;  
}

.hero-info__btn{
    background-color: #FFD050;
    height: 56px;
    width: 204px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;    
    border: none;    
    cursor: pointer;
    margin-top: 32px;    
}

.posts{
    padding: 128px 78px 128px 80px;
}

.posts__conrainer{
    display: flex;
    height: 804px;    
}

.posts__conrainer span{
    color: #592EA9;
}

.posts__conrainer label{
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;    
}

.posts__wrapper{
    padding: 32px;
    margin: 32px 32px 0 0;
    border: 1px solid #6d6e761a;    
}

.posts__image{
    margin-bottom: 32px;
}

.posts__name-date{
    margin-bottom: 16px;
}

label{
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;    
}

h2{
    color: #232536;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;    
}


h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;  
}

.posts__info h3{
    margin-bottom: 16px;
}

.posts__info p{
    color: #6D6E76;
    margin-bottom: 32px; 
}

.posts__btn{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;    
}

.posts__all-posts{
    width: 517px;
}

.posts__all-posts a{
    text-decoration: none;
    color: #232536;
    
}

.posts__all-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.posts__all-title span{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


.posts__post-card{
    padding: 32px 116px 25px 32px;
    transition: background-color 0.7s ease; 
}

.posts__post-card_selected{
    background-color: #FBF6EA;
}

.posts__card-name-date{
    padding-bottom: 8px;
}

h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;      
}

.about-mision{
    padding: 0 80px 128px 80px;
}

.about-mision__conrainer{
    height: 523px;
}

.about-mision__pattern{
    display: flex;
    justify-content: end;
}

.about-mision__wrapper{
    display: flex;
    background-color: #F4F0F8;
    padding: 96px 108px 96px 80px;
}

.about-mision__about-us{
    width: 515px;
    margin-right: 61px;
}

.about-mision__link{
    text-decoration: none;
}

.about-mision__our-mision{
    margin-top: 2px;
    width: 516px;
}

.about-mision__conrainer h6{
    margin-bottom: 24px;
    font-weight: 600;
}

.about-mision__conrainer h3{
    margin-bottom: 16px;
}

.about-mision__conrainer h2{
    margin-bottom: 16px;
}

.about-mision__conrainer p{
    margin-bottom: 16px;
    color: #6D6E76;
}

.about-mision__conrainer span{
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #592EA9;  
}

.choose{
    padding: 0 80px 128px 80px;
}

.choose__title{
    display: flex;
    justify-content: center;
    margin-bottom: 48px; 
}

.choose__catagories{
    display: flex;
    justify-content: space-between
}

.choose__item__link{
    text-decoration: none;
    color: #232536;
}

.choose__item{
    padding: 32px;
    width: 296px;
    height: 228px;
    border: 1px solid #6d6e764d;
    transition: background-color 0.7s ease;    
}

.choose__item_selected{
    background-color: #FFD050;
    border: 1px solid #FFD050;  
}

.choose__icon{       
    background-image: url("vectorgraphics/icons/icon-background.svg");
    background-repeat:no-repeat;
    margin-bottom: 16px;   
}

.choose__icon-2{
    padding: 12px; 
}

.choose__item h3{
    margin-bottom: 4px; 
}

.choose__item p{
    color: #6D6E76;
}

.special-post{
    padding: 0 80px 128px 80px;
}

.special-post__conrainer{
    position: relative;
    height: 705px;
    background-image: url("images/special-post.svg");
    background-repeat: no-repeat;
}

.special-post__content{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 706px;
    height: 584px;
    background-color: #FFFFFF;
    padding: 80px;
}

.special-post__content h6{
    font-weight: 600;
    margin-bottom: 24px;
}

.special-post__content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 16px;
}

.special-post__content p{
    color: #6D6E76;
}

.special-post__btn{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    height: 56px;
    width: 270px;
    padding: 16px 48px;
    margin-top: 32px;
}

.list-of-authors{
    padding: 0 80px 96px 80px;
}

.list-of-authors__title{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    margin-bottom: 48px;
}

.list-of-authors__authors{
    display: flex;
    justify-content: space-between
}

.list-of-authors__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 296px;
    height: 324px;
    background-color: #F4F4F4;     
}

.list-of-authors__item_hover{
    background-color: #FBF6EA;     
}

.list-of-authors__image{
    margin-bottom: 20px;
}

.list-of-authors__item p{    
    font-size: 14px;    
    line-height: 20px;
    margin-bottom: 17px;
}

.social-wrapper{
    display: flex;
    justify-content: space-between;
    width: 112px;
}

.logo-component{
    padding: 0 80px 96px 80px;
}

.logo-component__conrainer{
    display: flex;
    margin-left: 15px;
}

.logo-component__text p{
    font-size: 14px;    
    line-height: 20px;
    color: #6D6E76; 
}

.logo-component__text h4{
    color: #6D6E76; 
}

.logo-component__logo-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1015px;
    margin-left: 86px;
}

.logo-component__image{
    margin-top: 1px;
    height: 32px;
    opacity: 80%;
}

.testimonials{
    padding: 0 80px 128px 80px;
}

.testimonials__conrainer{
    background-color: #FBF6EA;
    height: 464px;
    padding: 80px 111px 74px 112px;
    display: flex;    
}

.testimonials__heading{
    width: 349px;    
    margin: 12px 80px 98px 0;
}

.testimonials__heading h6{
    font-weight: 600;
    margin-bottom: 12px;
}

.testimonials__heading h2{
    margin-bottom: 16px;
}

.testimonials__messages{
    margin-left: 96px;
}

.testimonials__messages h4{
    margin-bottom: 115px;
}

.testimonials__profile-and-buttons{
    display: flex;
}

.testimonials__profile{
    display: flex;
    align-items: flex-start;
    padding-top: 7px;
}

.testimonials__profile-image{
    margin-right: 16px;
}

.testimonials__profile-name h4{
    margin-bottom: 0px;
    white-space: nowrap;
}

.testimonials__profile-name p{
    color: #6D6E76;
}

.testimonials__buttons{
    margin-left: 141px;
    width: 134px;    
}

.testimonials-btn{
    border: none;
    background-color: inherit; 
    cursor: pointer;      
}

.testimonials-btn:hover {
    background-color: inherit;
  }

.testimonials__button-back{
    margin-right: 19px;    
}


.join-team{
    padding: 0 0 128px 0;
    display: flex;
    justify-content: center;
}

.join-team__conrainer{
    text-align: center;
    width: 414px;
}

.join-team__conrainer h2{
    margin-bottom: 16px;
}

.join-team__conrainer p{
    margin-bottom: 32px;
    color: #6D6E76;
}

.join-team__btn{    
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 174px;    
}

.footer{
    background-color: #232536;
    padding: 58px 80px 56px 80px;
}

.footer__top{
    display: flex;
    justify-content: space-between;    
    align-items: center;      
    color: #ffff;
    margin-bottom: 54.65px;        
}

.footer__logo{
    margin: 2px 0 0 2px;
}

.footer__menu{
    display: flex; 
    align-items: center;    
}

.footer__menu-list{
    display: contents;       
}

.footer__link{        
    transition: color 0.3s ease 0s;
    margin-left: 25px;     
}

.footer__link:hover{        
    color: #f4f0f8aa;    
}

.footer__menu-li{
    list-style-type: none;        
}

.footer a{
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color: #ffff;    
    white-space: nowrap;
}

.footer__subscription-form{    
    padding: 80px 64px;
    display: flex;
    justify-content: space-between;
    background-color: #2e3040
}


.footer__subscription-form h2{
    color: #ffff;
}

.footer__form{
    margin-top: 5px;
}

.footer__subscription-form input {
    background-color: #2e3040;    
    border: 1px solid #4C4C4C;
    padding: 14px 0 14px 24.92px;   
    color: #6D6E76;
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 323px;
    height: 56px;                
}

.footer__btn{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 179px;  
}

.footer__bottom{
    padding: 48px 0 56px 0;
    display: flex;
    justify-content: space-between;
}

.footer__address{
    color: #FFFFFF;
    opacity: 70%;
}

.footer__social-wrapper{
    display: flex;
    justify-content: space-between;
    width: 144px;
    margin-top: 5px;
}


.blog-main-content{
    padding: 80px;
    background-color: #F4F0F8;    
}

.blog-main-content__conrainer{
   display: flex;
   justify-content: space-between;
}

.blog-main-content__text h6{
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 20px;
}

.blog-main-content__text h2{
    margin-bottom: 16px;
}

.blog-main-content__text span{
    color: #592EA9
}

.blog-main-content__text p{
    margin-top: 16px;
    margin-bottom: 32px;
}

.blog-main-content__btn{
    margin-left: 4px;
}

.all-posts{
    padding: 64px 79px 57px 80px;    
}

.all-posts h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;        
    margin-bottom: 20px; 
}

.all-posts__line{
    max-width: none;
}

.blogs-cards{
    padding: 0 0 0 80px;
}

.blogs-cards__card{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.blogs-cards__img-wrapper{
    margin-right: 32px;
}

.blogs-cards__text h6{
    color: #592EA9;
    font-weight: 600;
    margin-bottom: 20px;
}

.blogs-cards__text h2{
    margin-bottom: 16px;
}

.pagination{
    margin-bottom: 64px;
}

.pagination__conrainer{
    display: flex;
    justify-content: center;
}

.pagination__buttons{
    margin-left: 40px;
}

.pagination-btn{
    border: none;
    background-color: inherit; 
    cursor: pointer;
    margin-right: 14px;    
}

.pagination-btn:hover {
    background-color: inherit;
  }

.pagination-btn h4{
    color: #6D6E76;   
}

.choose__title-blog{
    justify-content: flex-start;
}

.author-post{
    padding: 128px 80px 64px 80px;
}

.author-post__contaner{
    margin-left: 256px;
}

.author-post__profile{
    display: flex;
    margin-bottom: 24px;
}

.author-post__profile-name h3{
    margin-bottom: -4px;
}

.author-post__profile-image{
    margin-right: 16px;
    margin-top: -4px;
}

.author-post__title h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;  
    margin-bottom: 34px; 
}

.main-photo-of-post{
    padding: 0 80px 64px 80px;
}

.blog-content{
    padding: 0 298px 80px 299px;
}

.blog-content__contaner{
    width: 843px;
}

.blog-content__text{
    margin-bottom: 48px;
}

.blog-content__text h2{
    margin-bottom: 16px;
}

.blog-content__text p{
    margin-bottom: 24px;
}

.blog-content__text ul{
    margin-bottom: 24px;
    margin-left: 19px
}

.blog-content__text li{
    margin-bottom: 2px
}

.blog-content__text li::marker{
    color: #4C4C4C;
}

.blog-content__text h4{
    color: #161722;
    opacity: 78%;
}

.other-posts{
    padding: 0 80px 128px 80px;
}

.other-posts__contaner{
    border-bottom: 1px solid #6d6e761a;
}


.other-posts__title{
    margin-bottom: 64px;
}

.other-posts__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.other-posts__card{
    width: 405px;
}

.other-posts__image{
    margin-bottom: 32px;
}

.other-posts__card h3{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #232536;
}

.join-team_blog-post{
    padding: 0 14px 128px 0;
}

.about-us{
    padding: 0px 80px;
}

.team{
    padding-top: 80px;
}

.team__contaner{
    display: flex;        
    margin-left: 109px;
}

.team__title{
    width: 624px;
    padding: 64px;
    background-color: white;
}

.team__title h6{
    font-weight: 500;
    margin-bottom: 16px;
}

.team__title h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;  
}

.team__text{
    width: 477px;
    height: 112px;
    margin: 102px 0 0 32px
}

.overview{
    margin-top: -63px;
    position: relative;
    z-index: -1;
}

.overview__contaner{    
    height: 444px;
    background-image: url(images/overview-img.svg);
    position: relative;
}

.overview__indicators{
    position: absolute;    
    bottom: 0;
    left: 109px;
}

.indicators-wrapper{
    width: 630px;
    display: flex;
    justify-content: space-between;
    background-color: #FFD050;
    padding: 32px 48px 32px 48px;
}

.overview__indicators h1{
    font-size: 56px; 
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;   
}

.overview__indicators p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #232536;     
}

.our-m-v{
    padding: 128px 108px 62px 108px;
    background-color: #F4F0F8;    
}

.our-m-v__contaner{
    display: flex;
    justify-content: space-between;
}

.our-m-v h6{
    font-weight: 600;
    margin-bottom: 24px;
}

.our-m-v h3{
    margin-bottom: 16px;
}

.our-m-v p{
    width: 516px;
}

.know-more{
    padding-top: 128px;    
}

.know-more__contaner{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.know-more__text{
    width: 519px;
}

.know-more h2{
    margin-bottom: 16px;
}

.know-more h4{
    margin-bottom: 16px;
}

.know-more p{
    color: #232536;
}

.know-more__image-wrapper{
    position: relative;
}

.know-more__shapes{
    position: absolute;
    left: -57px;
    top: 114px;
}

.why-strated{
    padding: 128px 0px;    
}

.why-strated__contaner{
    display: flex;    
    align-items: center;
}

.why-strated__image-wrapper{
    margin-right: 64px;
    position: relative;
}

.why-strated__text{
    width: 519px;
}

.why-strated h2{
    margin-bottom: 16px;
}

.why-strated h4{
    margin-bottom: 16px;
}

.why-strated p{
    color: #232536;
}

.why-strated__shapes{
    position: absolute;
    bottom: -37px;
    left: 107px;
}

.list-of-authors_ab-us{
    padding: 0 0 127px 0
}

.list-of-authors__authors_second-row{
    padding-top: 32px;
}

.name-of-category{
    background-color: #F4F0F8;
    padding: 80px 0px;  
}

.name-of-category__conrainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-of-category h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 16px; 
}

.name-of-category p{
    margin-bottom: 32px;
    width: 515px;
    text-align: center;
}

.name-of-category h6{
    font-weight: 500;
}

.category-section{
    padding: 128px 81px 96px 81px; 
}

.category-section__conrainer{
    display: flex;
    justify-content: space-between;
}

.category-section__item{
    display: flex;
    width: 838px;    
    margin-bottom: 32px;
}

.category-section__text{
    width: 544px;
    padding: 38px 0 38px 32px;
}

.category-section__item h6{
    font-weight: 600;
    margin-bottom: 20px;
    color: #592EA9;
}

.category-section__item h2{
    font-weight: 700;
    margin-bottom: 16px;
}

.category-section__categories{
    width: 298px;
}

.categories-wrapper{
    padding-left: 1px;
}

.category-section__title-cat{
    padding: 0 0 40px 4px;    
}

.category-section__category-cards{
    margin-bottom: 48px;
}

.category-section__category-card{    
    padding: 23px 24px 24px 24px;
    width: 296px;
    height: 96px;
    border: 1.5px solid #C1C1C3;
    transition: background-color 0.7s ease;
    margin-bottom: 24px;
} 

.category-section__category-link{
    text-decoration: none;
    color: #232536;
    display: flex;
    align-items: center
}

.category-section__category-card h3{
    margin-left: 16px;
}


.category-section__category-card_selected{
    background-color: #FFD050;
    border: 1px solid #FFD050;  
}

.category-section__card-icon{       
    background-image: url("vectorgraphics/icons/icon-background.svg");
    background-repeat:no-repeat;      
}

.category-section__card-icon-2{
    padding: 12px; 
}

.category-section__category-labels{
    padding-top: 24px;
}

.category-section__category-label{    
    display: grid;
    grid-template-columns: repeat(6, 1.5fr);
    grid-template-rows: repeat(3, 48px);
    grid-gap: 16px;
       
    grid-template-areas:
    "business business business experience experience experience"
    "screen screen technology technology technology technology"
    "marketing marketing marketing marketing life life";     
}

.label-business{
    grid-area: business;
}

.label-experience{
    grid-area: experience;
}

.label-screen{
    grid-area: screen;
}

.label-technology{
    grid-area: technology;
}

.label-marketing{
    grid-area: marketing;
}

.label-life{
    grid-area: life;
}

.category-section__category-label button{
    cursor: pointer;
    background-color: white;
    border: 2px solid #6D6E76;
    opacity: 70%;
    border-radius: 28px;
    font-family: "Sen";
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;      
}

.category-section__category-label button:hover {
    background-color: #F4F0F8;
    opacity: 100%;
    border: 2.5px solid #6d6e76b4;   
    transition: background-color 0.3s ease-in;
}

.author-main-content{
    padding: 128px 0 128px 208px;
    background-color: #F4F0F8;
    position: relative;
}

.author-main-content__conrainer{
    display: flex;
}

.author-main-content__img-wrapper{
    margin-right: 32px;
}

.author-main-content__text{
    width: 669px;
}

.author h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 24px;
    margin-top: 1px;
}

.author-main-content__text p{
    margin-left: 3px;
    margin-bottom: 23px;
}

.author-main-content__pattern{
    position: absolute;
    left: 208px;
    bottom: 0px;
}

.author-posts{
    padding: 128px 208px 64px 208px;
}

.author-posts h1{
    margin-bottom: 64px;    
}

.author-posts a{
    text-decoration: none;    
}

.author-posts__item{
    display: flex;
    margin-bottom: 64px;
    align-items: center;
}

.author-posts__img-wrapper{
    margin-right: 32px;
}

.author-posts__text{
    width: 578px;
}

.author-posts__item h6{
    display: flex;
    font-weight: 600;
    margin-bottom: 20px;
    color: #592EA9;
}

.author-posts__item h2{
    margin-bottom: 16px;
    
}

.contact-us{
    padding: 128px 336px;
}

.contact-title{    
    text-align: center;
}

.contact-title h6{
    font-weight: 600;
    margin-bottom: 12px;    
}

.contact-title h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 24px;
}   

.info-card{    
    padding: 64px 0 32px 0;
}

.info-card__conrainer{
    background-color: #592EA9;
    padding-left: 64px;
    padding-top: 48px;
}

.info-card__line{
    width: 294px;
    border-top: 1px solid #FFFFFF;
    opacity: 10%;
    
}